img {
  vertical-align: middle;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#topbar {
  height: 40px;
  background-color: #006699;
  position: fixed;
  width: 100%;
  box-shadow: 0 5px 10px #999;
  z-index: 999;
}
#topbar > h4 {
  padding: 0;
  margin: 0;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-weight: 500;
}
#topbar > a.fa-search {
  position: absolute;
  right: 10px;
  color: #fff;
  top: 10px;
}
#footer {
  height: 50px;
  background-color: #006699;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}
#footer > .mui-row div > a {
  display: block;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding-top: 12px;
}
#footer > .mui-row div > a::before {
  display: block;
}
#footer > .mui-row div > a.active {
  color: orange;
}
html,
body {
  height: 100%;
  background-color: #fff;
}
#main {
  padding-top: 40px;
  padding-bottom: 50px;
  height: 100%;
  overflow: hidden;
  position: relative;
}
